---
layout: page
description: <body <p>Cinvestav, Mexico</i></p> <p><a href="https://www.cinvestav.mx/sur/conocenos/departamentos/cie" style="color:white"><b>CIE-CINVESTAV</b></a></body>
---

{% for post in paginator.posts %}
<div class="post-preview">

        <h2 class="post-title"> <p> {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <body class="post-subtitle">
            <p style="text-align:justify"> {{ post.subtitle }}
        </body>
        {% endif %}

    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<a class="twitter-timeline" href="https://twitter.com/moreno_lab?ref_src=twsrc%5Etfw">Tweets by moreno_lab</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
